@font-face {
  font-family: 'NYTCheltenham-MediumItalic';
  src: url('NYTCheltenham-MediumItalic.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

h3{
  margin-bottom: 0;
}

body{
    min-width: 630px;
    margin: 0px;
    padding: 0px;
  }

  #container{
    padding-left: 200px ;
    padding-right: 190px ;
  }

  #center{
    width: 100%;
    background-color: #2196f38a;
    padding: 10px 20px;
  }

  #left{
    margin-left: -100%;
    width: 180px;
    right: 240px;
    background-color: #00800085;
    padding: 10px 10px;

  }

  #right{
    margin-right: -190px;
    width: 130px;
    background-color: #ff000096;
    padding: 10px 10px;
  }

  #container .column{
    padding-bottom: 310px ;
    margin-bottom: -300px;
    position: relative;
    float:left;
    overflow:hidden;
    margin-top:50px;
  }

  #footer{
      height: 30px;
      width: 100%;
      clear:both;
      background-color: purple;
  }

  #header{
    margin: 0px;
  }

  .nav-bar{
    display: inline-block;
    text-align: center;
    height: 50px;
    width: 100%;
    background-color: white;
    position: fixed;
    z-index:1;
    border: 1px solid #EEE;
  }

  .s-menu-logo {
    margin-left: 30px;
    float:left;
    height: 30px;
    margin-top: 10px;
  }

  .logo {
    height: 50px;
  }

  .s-user-img {
    margin-right: 30px;
    margin-top: 10px;
    height: 30px;
    float: right;
  }

  .title{
    font-size: 40px;
    font-family: 'NYTCheltenham-MediumItalic';
    font-style: italic;
  }

  .title-div{
    margin-left:200px;
    display: block;
    padding-right: 350px;
  }

  .title-img{
    width: 100%;
    text-align: center;
  }

  .img-wrapper{
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }

  .title-img-descrption{
    font-size: 12px;
    margin-top: 10px;
  }

  .title-img-author{
    font-size: 9px;

  }

  .social-items{
    display: inline-block;
    text-align: center;
    height: 20px;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
  }

  .social-buttons{
    height: 15px;
    float: right;
    margin-right: 20px;
  }

  .article-date{
    float: left;
    display: inline-block;

  }
  .article-author{
    float: left;
    display: inline-block;
    margin-left: 20%;
    margin-bottom: 30px;
    font-weight: bold;
    text-decoration: underline;
  }


.text-columns{
  margin-right: 20%;
  margin-left:  20%;

}


.img-wrapper-1 > img{
  width: 100%;
}

.img-wrapper-1{
  margin-left: -20%;
  margin-right: -20%;
}

.video-wrapper{
  margin: 0px;
}

.article-img{
  width: 100%;
  text-align: center;
}

p{
  line-height: 1.5;
  font-size: 1.22rem;

}

.img-section{
  position: relative;
  /*
  background-image: url("https://static01.nyt.com/newsgraphics/2014/03/18/theory-of-inflation/1ebaa1b972edda0f407fbaa0e010f6b50fb6792e/inflation-945.png");
  background-size: 500px;
  background-repeat: no-repeat;
  margin-right: -100px;
  margin-left: -20%;
*/
}

.box{
  width: 23%;
  height: 20%;
  position: absolute;
}

.row-1{
  top: 25%;
}

.row-2{
  top: 72%;
}

.description-box-0{
  left: 0;
}

.description-box-1{
  left: 27%;
}

.description-box-2{
  left: 52%;
}

.description-box-3{
  left: 77%;
}

.img-box-title{
  font-size:.6rem;
  font-weight: bold;
}

.img-box-description{
  font-size:  .6rem;

}

.read-c-button{
  background-color: #3f7197;
  color: white;
  font-weight: bold;
  padding: 7px 70px;
  border-radius: 4px;
  border: 1px solid #326891;
  text-align: center;
  float:left;
}

.read-c-button:hover{
  background-color: #326891;
  color: white;
  font-weight: bold;
  padding: 7px 70px;
  border-radius: 4px;
  border: 1px solid #326891;
  text-align: center;
  float:left;
}
