@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&family=Roboto+Condensed:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@900&display=swap');
/*

    font-family: 'Arvo', serif;
    font-weight: 400;
    font-weight: 700;


    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 200;
    font-weight: 400;
    font-weight: 700;

    font-family: 'Noto Serif JP', serif;
    font-weight: 900;
 */

.prj-bg-1 {
  background: url(../img/prlogo1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.prj-bg-2 {
  background: url(../img/prlogo2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.prj-bg-3 {
  background: url(../img/prlogo3.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.prj-bg-rails {
  background: url(../img/railslogo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.prj-bg-4 {
  background: url(../img/prlogo4.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.prj-bg-5 {
  background: url(../img/prlogo5.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.paragraph {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  color: white;
  font-size: .9rem;
}

.h-prj {
  height: 300px;

}

.bg-black {
  background: rgb(0,0,0);
  background: linear-gradient(86deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 58%, rgba(17,3,36,1) 100%);
}

.text-green {
  color: darkgreen !important;
}

.text-violet {
  color: darkviolet !important;
}

.text-gray {
  color: darkgray !important;
}

.text-red {
  color: darkred !important;
}

.master-header {
  background: url(../img/banner.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.me-bg {
  background: url(../img/me.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.menu-icon {
  color: white;
}

.brand {
  font-family: 'Arvo', serif;
  font-weight: 700;
  font-size: 1.5rem;
  color: white;
}
.custom-link {
  font-family: 'Arvo', serif;
  font-weight: 400;
  font-size: 1rem;
  color: white !important;
}

.title {
  font-family: 'Arvo', serif;
  font-weight: 700;
  font-size: 5rem;
  color: white;
  margin-top: 10rem;
  margin-right: 50rem;
}

.subtitle {
  font-family: 'Arvo', serif;
  font-weight: 700;
  font-size: 4rem;
  color: white;
}

.subtitle {
  font-family: 'Arvo', serif;
  font-weight: 700;
  font-size: 4rem;
  color: white;
}

.banner-sub {
  font-family: 'Arvo', serif;
  font-weight: 400;
  font-size: 1.5rem;
  color: white;
}

.separator {
  font-family: 'Noto Serif JP', serif;
  color: white;
  font-weight: 900;
  font-size: 3rem;
}
