@import url('https://fonts.googleapis.com/css?family=Anton|Oswald&display=swap');

a{
  text-decoration: none;
  color: purple;

}

a:hover{
  color: #003366;
}

body{
  margin: 0;
}

#left-wrapper{
  position: fixed;
  width: 40%;
  height: 100%;
}

#right-wrapper{
  position: static;
  overflow: visible;
  width: 60%;
  max-width: 1200px;
  margin-left: 40%;
  float: none;
  clear: none;
}

#about-container{
  position: absolute;
  margin: 0 10%;
  bottom: 15%;
  width: 80%;
}

.img-logo{
}

.about-title{
  font-family: 'Anton', sans-serif;
  color: #111111;
  font-size: 50px;
}

.about-subtitle{
  font-family: 'Oswald', sans-serif;
  color: black;
  font-size: 12px;
}

.about-description ul{
  list-style: none;
  display: block;
}

.about-description ul li{
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    font-weight: 400;
}

.about-icon-container{
  display: flex;
  text-align: center;
}

.about-icon-container div{
  flex: auto;
}

.about-icon-container div a img{
  width: 50%;
}

.flex-wrapper{
  display: flex;
  flex-direction: column;
}

#content-1{
  margin:0;
  background-color: white;
  height: 630px;
}

#content-2{
  margin:0;
  background-image: url("../img/mock-02.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 630px;
}

#content-3{
  margin:0;
  background-color: white;
  height: 630px;
}

.mock-1{
  position: absolute;
  width: 50%;
  margin-left: 10%;
  margin-top: 10%;
}

.mock-img{
  width: 70%;
}

.nyt-logo{
  position: absolute;
  top: -80px;
  left: -100px;
  width: 60%;
}

.description-1{
  position: relative;
  padding-top: 28%;
  padding-right: 10px;
  text-align: right;
}

.description-2{
  position: relative;
  padding-top: 4%;
  padding-left: 10px;
  text-align: left;
}

.about-title-2{
  font-family: 'Anton', sans-serif;
  color: white;
  font-size: 50px;
}

.about-subtitle-2{
  font-family: 'Oswald', sans-serif;
  color: white;
  font-size: 12px;
}

.mock-img-3{
  width: 70%;
}

.apple-logo{
  position: absolute;
  width: 10%;
  right: 10%;
  margin-top: 3%;
}

.description-3{
  position: relative;
  padding-top: 4%;
  padding-left: 10px;
  text-align: left;
}

/*

    font-family: 'Anton', sans-serif;

    font-family: 'Oswald', sans-serif;

*/
